<div id="autoketing-customer-say"></div>

{% schema %}
{
  "name": "Autoketing Customer Say",
  "tag": "section",
  "class": "spaced-section",
  "settings": [],
  "presets": [
    {
      "name": "Autoketing Customer Say"
    }
  ]
}
{% endschema %}