<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script><script src="/apps/sa/check_plugin.js?shop=skywalltv.myshopify.com"></script>
			<script>
			if(typeof plugin_logged_in != "undefined" && plugin_logged_in==1)
            {
			$(document).ready(function(){
				$('body').prepend('<form method="post" action="/account/login" style="display:none;" id="SmsalertResetForm"><input type="hidden" name="form_type" value="customer_login"><input type="hidden" name="customer[email]" id="SAPCustomerEmail"><input type="hidden" name="customer[password]" id="SAPCustomerPassword"></form>');
				$("input[value='reset_customer_password']").parents("form").addClass("reset_customer_password");
				$(".reset_customer_password :submit").click(function(event){
					event.preventDefault();
					$.ajax({ 
					url:"/apps/sa/customers.php?type=reset_password",
					type: "POST",
					dataType: "json",
					data:$(".reset_customer_password").serialize(),
					success:function(data){
						if(typeof data.email != "undefined")
						{
							processLogin(data);
						}
						else if(typeof data.errors != "undefined"){
							alert(data.errors);
						}
					},
						error: function (test) {
						}
					});
				});
				});
				function processLogin(data)
				{
					$("#SAPCustomerEmail").val(data.email);
					$("#SAPCustomerPassword").val(data.password);
					$("#SmsalertResetForm").submit(); 
				}
			}
			</script>